.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#social-fb {
    color: #585858;
}

#social-tw {
    color: #585858;
}

#social-gp {
    color: #585858;
}

#social-em {
    color: #585858;
}

#social-ig {
    color: #585858;
}

#social-gh {
    color: #585858;
}

#social-li {
    color: #585858;
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}